name: Run BigQuery

on:
  workflow_dispatch:
  schedule:
    # "every 2 hours"
    - cron: 0 */2 * * *
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v3

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v0
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Run BigQuery
        run: |
          python -m pip install -U pip
          python -m pip install google-cloud-bigquery
          python scripts/bigquery.py

      # push changes back to the repo, this will trigger a new vercel build
      # https://github.com/stefanzweifel/git-auto-commit-action
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: BigQuery update
