name: Update Plugin Index

on:
  workflow_dispatch:
  schedule:
    # "every 2 hours"
    - cron: 0 */2 * * *

jobs:
  fetch:
    name: Fetch
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
      id-token: 'write'
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - id: auth
        name: Authenticate to Google Cloud
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          credentials_json: ${{ secrets.GOOGLE_CREDENTIALS }}

      # reindex requires conda to be setup
      - uses: conda-incubator/setup-miniconda@835234971496cad1653abb28a638a281cf32541f # v3.2.0
        with:
          auto-activate-base: true
          activate-environment: ""

      - name: Find packages by classifier
        run: |
          python -m pip install -U pip
          python -m pip install -r requirements.txt
          python scripts/find_by_classifier.py
          # python -m pip install -r requirements.txt google-cloud-bigquery
          # python scripts/bigquery.py

      # fetch new manifests for new/updated plugins, based on active versions found with bigquery
      - name: Fetch manifests
        run: |
          python scripts/fetch_manifests.py

      # validate and re-index plugin versions in case new ones have been 
      # retrieved from bigquery
      # will update extended_summary.json, index.json and pypi.json
      # to include all plugin versions
      - name: (re)index
        run: |
          python scripts/reindex.py
        env:
          GH_API_TOKEN: ${{ secrets.GH_API_TOKEN }}
          CODECOV_API_TOKEN: ${{ secrets.CODECOV_API_TOKEN }}

      # push changes back to the repo, this will trigger a new vercel build
      # https://github.com/stefanzweifel/git-auto-commit-action
      - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          commit_message: '[bot] Update Plugin Index'
          commit_author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
